<Router AppAssembly="@typeof(Main).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">This feature has not been implemented yet. If you believe this is a bug, please post it at <a href="https://github.com/jukaLang/jukaApp
">https://github.com/jukaLang/jukaApp</a>. Otherwise, visit our official website: <a href="https://jukalang.com">https://jukalang.com</a>
			</p>
		</LayoutView>
	</NotFound>
</Router>
